@keyframes rotate-element {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes move-left-element {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes move-right-element {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes move-element {
    0% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(15px);
    }
	80% {
        transform: translateX(-15px);
    }
    100% {
        transform: translateX(0);
    }
}