@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,700,800);

/* Local fonts */
@import url('fonts.css');

/* Reset */
@import url('reset.css');

body {
    font-family: "Epilogue", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="__container"] {
    margin: 0 auto;
    max-width: 1170px;
}

/** Buttons */
.button {
    color: #FFF;
    border-radius: 6px;
    font-weight: 900;
    padding: 18px 30px 16px;
    text-align: center;
    text-transform: uppercase;
	overflow: hidden;
}
.button--light-primary {
    background: #EF6D58;
}
.button--light-primary:hover {
    background-color: #FFF;
    border: 1px solid #EF6D58;
	color: #391400;
    padding: 17px 29px 15px;
}
.button--dark-secondary {
    border: 1px solid rgba(255, 255, 255, 0.30);
}
.button--dark-secondary:hover {
    background-color: #fff;
    color: #391400;
}

.header {
}

.page {
    background-color: #28293e;
}
.page__portfolio {
}
.portfolio {
    padding-block: 92px 176px;
}
.portfolio__label {
    margin-block-end: 20px;
    text-align: center;
}
.label {
    color: #EF6D58;
    letter-spacing: 3px;
    line-height: 2;
    text-transform: uppercase;
}
.portfolio__title {
    color: #FFF;
    font-size: 56px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1.14;
    margin-block-end: 36px;
    text-align: center;
    text-transform: capitalize;
}
.portfolio__filter {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 60px;
    justify-content: center;
    margin-block-end: 68px;
}
.filter {
    text-align: center;
}
.filter__item {
    color: rgba(255, 255, 255, 0.64);
    line-height: 2;
    text-transform: capitalize;
    transition-duration: 0.3s;
}
.filter__item sup {
    display: inline-block;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    transform: translateY(-8px);
}
.filter__item--text-light {
    color: #FFF;
}
.filter__item:hover {
    color: #FFF;
    transform: scale(1.05);
}

/** Portfolio Products */
.portfolio__products {
    margin-block-end: 64px;
}
.products {
    column-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
}
.products__item {
	border-radius: 6px;
	flex-grow: 1;
	flex-shrink: 1;
	overflow: hidden;
	position: relative;
}
.products__item img {
    height: 100%;
    width: 100%;
}
.products__item::before {
    background: #5C2000;
    border-radius: 6px;
    content: "";
    height: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    opacity: 0.3181;
    position: absolute;
    transition-duration: 0.3s;
    width: 100%;
}
.products__item:nth-child(odd):hover::before {
    transform: translateX(100%);
}
.products__item:nth-child(even):hover::before {
    transform: translateX(-100%);
}
.products__item:nth-child(4n),
.products__item:nth-child(4n+1) {
    aspect-ratio: 470/416;
    flex-basis: 470px;

    /* 4*0+0, 4*0+1, 4*1+0, 4*1+1, 4*2+0, 4*2+1, 4*3+0, 4*3+1, */
    /* 1, 4, 5, 8, 9, 12, 13 ...      */
    /* 4n+0, 4n+1 */
}
.products__item:nth-child(4n+2),
.products__item:nth-child(4n+3){
    aspect-ratio: 670/416;
    flex-basis: 670px;

    /* 2+4*0+0, 2+4*0+1, 2+4*1+0, 2+4*1+1, 2+4*2+0, 2+4*2+1, 2+4*3+0, 2+4*3+1 */
    /* 2, 3, 6, 7, 10, 11, 14,15 ... */
    /* 4n+2, 4n+3 */
}
.products__overlay {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding: 51px 48px;
    row-gap: 24px;
    text-transform: capitalize;
    transform: translateY(-100%);
    width: 100%;
}
.products__label {
    background: #FFF;
    border-radius: 19px;
    color: #391400;
    line-height: 2;
    padding: 5px 16px 1px;
}
.products__title {
    color: #FFF;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
}
.products__title--uppercase {
    text-transform: uppercase;
}
.portfolio__button {
    margin: 0 auto;
    text-align: center;
}

/** Get Started */
.page__get-started {
    margin-block-end: 140px;
}
.get-started {
    align-items: center;
    background: #FDF0E9;
    border-radius: 6px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
}
@keyframes rotate-element {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0);
    }
}
.get-started__present-icon {
    height: 148px;
    left: 222px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 148px;
}
.get-started__present-icon img {
    height: 32px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 32px;
}
.get-started__present-icon::before {
    animation: rotate-element 10s linear infinite;
    background: url("../img/get-started/star.svg") 0 0 / contain no-repeat;
    content: "";
    height: 100%;
    inset: -50%;
    position: absolute;
    width: 100%;
}
.get-started__present-icon:hover::before {
    animation-play-state: paused;
}
.get-started__column {
    flex: 0 1 248px;
}
.get-started__column:last-child {
    margin-block-start: -60px;
    position: relative;
}
.get-started__column:last-child::before {
    background: url("../img/get-started/cloud.svg") 0 0 / 282px 242px no-repeat;
    content: "";
    height: 242px;
    left: -56px;
    position: absolute;
    top: 107px;
    width: 282px;
    z-index: -1;
}
.get-started__label {
    margin-block-end: 13px;
}
.get-started__title {
    color: #391400;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    margin-block-end: 23px;
    text-transform: capitalize;
}
.get-started__button {
}

.page__events {
}
.page__our-team {
}
.page__founder-words {
}

.footer {
    background-color: #fdf0e9;
    color: #391400;
    font-weight: 700;
    padding-block: 15px;
    text-align: center;
}