/* Local fonts */
@import url('fonts.css');

/* Reset */
@import url('reset.css');

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
    margin: 0 auto;
    max-width: 1170px;
    padding-inline: 15px;
}


.footer {
    background-color: #fdf0e9;
    color: #391400;
    font-weight: 700;
    text-align: center;
	padding-block: 15px;
}