@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,700,800);

/* Local fonts */
@import url('fonts.css');

/* Reset */
@import url('reset.css');

body {
    font-family: "Epilogue", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="__container"] {
    margin: 0 auto;
    max-width: 1170px;
}

.wrapper {
}
.header {
}

.page {
	background-color: #28293e;
}

.page__portfolio {
}
.portfolio {
	padding-block: 92px 176px;
}
.portfolio__label {
	color: #EF6D58;
	text-align: center;
	line-height: 2; /* 200% */
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-block-end: 20px;
}
.portfolio__title {
	color: #FFF;
	text-align: center;
	font-size: 56px;
	font-weight: 800;
	line-height: 1.14; /* 114.286% */
	letter-spacing: -1px;
	margin-block-end: 36px;
	text-transform: capitalize;
}
.portfolio__filter {
	display: flex;
	gap: 15px 60px;
	justify-content: center;
	margin-block-end: 68px;
	flex-wrap: wrap;
}
.filter {
	text-align: center;
}
.filter__item {
	color: rgba(255, 255, 255, 0.64);
	line-height: 2; /* 200% */
	text-transform: capitalize;
	transition-duration: 0.3s;
}
.filter__item sup {
	text-align: center;
	font-size: 14px;
	line-height: 1.71; /* 171.429% */
	transform: translateY(-8px);
	display: inline-block;
}
.filter__item--text-light {
	color: #FFF;
}
.filter__item:hover {
	color: #FFF;
	transform: scale(1.05);
}
.portfolio__products {
	margin-block-end: 64px;
}
.products {
    column-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
}
.products__item {    
	position: relative;
	overflow: hidden;
	border-radius: 6px;
	flex-grow: 1;
	flex-shrink: 1;
}
.products__item img {
	width: 100%;
	height: 100%;
}
.products__item::before {
	background: #5C2000;
	content: "";
	opacity: 0.3181;
	border-radius: 6px;
	width: 100%;
	height: 100%;
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	transition-duration: 0.3s;
}
.products__item:nth-child(odd):hover::before {
	transform: translateX(100%);
}
.products__item:nth-child(even):hover::before {
	transform: translateX(-100%);
}
.products__item:nth-child(4n),
.products__item:nth-child(4n+1) {
	aspect-ratio: 470/416;
	flex-basis: 470px;
    /* 4*0+0, 4*0+1, 4*1+0, 4*1+1, 4*2+0, 4*2+1, 4*3+0, 4*3+1, */
    /* 1, 4, 5, 8, 9, 12, 13 ...      */
    /* 4n+0, 4n+1 */
}
.products__item:nth-child(4n+2),
.products__item:nth-child(4n+3){
	flex-basis: 670px;
	aspect-ratio: 670/416;

    /* 2+4*0+0, 2+4*0+1, 2+4*1+0, 2+4*1+1, 2+4*2+0, 2+4*2+1, 2+4*3+0, 2+4*3+1 */
    /* 2, 3, 6, 7, 10, 11, 14,15 ... */
    /* 4n+2, 4n+3 */
}
.products__overlay {
	padding: 51px 48px;
	text-transform: capitalize;
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	align-items: flex-start;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	transform: translateY(-100%);
}
.products__label {
	color: #391400;
	line-height: 2;
	padding: 5px 16px 1px;
	border-radius: 19px;
	background: #FFF;
}
.products__title {
	color: #FFF;
	font-size: 40px;
	font-weight: 800;
	line-height: 1.2;
}
.products__title--uppercase {
	text-transform: uppercase;
}
.portfolio__button {
	margin: 0 auto;
	text-align: center;
}
.button {
	color: #FFF;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	padding: 18px 30px 16px;
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.30);
	transition: all 0.5s;
}
.button:hover {
	background-color: #fff;
	color: #391400;
}
.page__get-started {
}
.page__events {
}
.page__our-team {
}
.page__founder-words {
}

.footer {
    background-color: #fdf0e9;
    color: #391400;
    font-weight: 700;
    padding-block: 15px;
    text-align: center;
}