@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,700,800);

/* Local fonts */
@import url('fonts.css');

/* Reset */
@import url('reset.css');

body {
    font-family: "Epilogue", sans-serif;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
[class*="__container"] {
    margin: 0 auto;
    max-width: 1140px;
    padding-block: 20px;
    padding-inline: 15px;
}
.header, .page {
    background-color: #28293E;
    color: #FFF;
}
.header__main {
}
.header__label {
    margin-block-end: 20px;
}
.label {
    color: #EF6D58;
    letter-spacing: 3px;
    line-height: 2;
    text-transform: uppercase;
}
.header__title {
    font-size: 72px;
    font-weight: 800;
    letter-spacing: -2px;
    line-height: 1.11;
    margin-block-end: 24px;
    text-transform: capitalize;
}
/** Moon */
@keyframes move-moon {
    0% {
        right: 80px;
		transform: rotate(0deg);
    }
    50% {
        right: 700px;
		transform: rotate(50deg);

    }
	100% {
		right: 80px;
		transform: rotate(0deg);

	}
}
.moon {
	position: absolute;
	right: 80px;
	top: 40px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: radial-gradient(circle at top right, white 35%, black);
	box-shadow: 0 0 200px 100px white;
	animation: move-moon 60s linear 8s infinite;
}
.page {
}
.page__container {
    margin: 0 auto;
    max-inline-size: none;
    padding-block: 180px;
}
.page__block {
    padding-block: 20px;
    perspective: 200px;
    position: relative;
}
/** Ground */
@keyframes move-ground {
    0% {
        right: -2000px;
    }
    100% {
        right: -950px;
    }
}
.page__ground {
	background: linear-gradient(to right, hsl(0deg 0% 100%) 100px, transparent 100px 400px) center / 350px 7px repeat-x, #EF6D58;
    height: 150px;
	right: -2000px;
    position: absolute;
    top: 195px;
    transform: rotateX(20deg);
    width: 4000px;
	border-block: 5px solid #fff;
	animation: move-ground 3s linear 9.5s infinite;
}
.page__car {
}

/** Car */
@keyframes move-car {
    0% {
        left: -50px;
    }
    40% {
        left: 500px;
    }
	50% {
		left: 500px;
	}
	70% {
		left: 400px;
	}
	100% {
		left: 200px;
	}
}
@keyframes continue-move-car {
    0% {
        left: 200px;
    }
	50% {
		left: 100px;
	}
    100% {
        left: 200px;
    }
}
.car {
    animation: move-car 4s linear 8s,
				continue-move-car 10s linear 12s infinite;
    height: 100%;
    left: -50px;
    position: relative;
    top: 35px;
    transform: scale(0.7);
    width: 800px;
}
/** Light from headlights */
@keyframes turn-on-light {
    from {
		opacity: 1;
    }
	to {
		opacity: 1;
	}
}
.car::after {
	height: 205px;
	width: 80px;
	border-radius: 50%;
	background-color: #FFF;
	content: "";
	position: absolute;
	right: -570px;
	top: -30px;
	box-shadow: 0 0 100px 50px white;
	transform: rotate(-2deg);
	animation: turn-on-light 1s linear 7s infinite;
	opacity: 0;
}
.car::before {
	height: 200px;
	width: 80px;
	border-radius: 50%;
	background-color: #fff;
	content: "";
	position: absolute;
	right: -605px;
	top: -30px;
	box-shadow: 0 0 100px 50px white;
	transform: rotate(-2deg);
	animation: turn-on-light 1s linear 7s infinite;
	opacity: 0;
}

.car:hover .car__glass{
    transform: translate(0, 50%) skewX(60deg);
    transition: all 1.3s;
}
.car:not(:hover) .car__glass{
    transform: translate(0, 0) skewX(60deg);
    transition: all 1.3s;
}

/** Turning on the rear stops of the car */
.car:hover .body-car__left::before{
    background: #82050f;
    box-shadow: 0px 0px 10px 5px #82050f;
    transition: all 0.3s;
}
/** Turning on the car headlights */
.car:hover .body-car__right::before{
    background: #f2e88c;
    box-shadow: 0px 0px 5px 10px #f2e88c;
    transition: all 0.3s;
}
.car__body {
    font-size: 0;
    width: 800px;
}
.car__body {
    position: relative;
}
@keyframes turn-on-light-triangle {
    from {
		opacity: 0.4;
    }
	to {
		opacity: 0.4;
	}
}
.car__body::after {
	content: "";
    border-color: #fff transparent transparent transparent ;
    border-style: solid;
    border-width: 200px 40px 100px 560px;
    height: 40px;
    position: absolute;
    right: -570px;
    top: 40px;
    transform: rotate(-14deg);
    width: 20px;
	box-shadow: 0 0 100px 50px inset white;
	opacity: 0.4;
	animation: turn-on-light-triangle 1s linear 7s infinite;
	opacity: 0;
} 

.car__body::before {
	content: "";
    border-color: #fff transparent transparent transparent ;
    border-style: solid;
    border-width: 200px 40px 100px 560px;
    height: 40px;
    position: absolute;
    right: -610px;
    top: 40px;
    transform: rotate(-15deg);
    width: 20px;
	box-shadow: 0 0 100px 50px inset white;
	opacity: 0.4;
	animation: turn-on-light-triangle 1s linear 7s infinite;
	opacity: 0;
}
.body-car {
}

/** Car Glass */
@keyframes close-window {
    from {
        transform: translate(0, 100%) skewX(60deg);
    }
    to {
        transform: translate(0, 0) skewX(60deg);
    }
}
@keyframes continue-close-window {
    from {
        transform: translate(0, 0) skewX(60deg);
    }
    to {
        transform: translate(0, 0) skewX(60deg);
    }
}
@keyframes open-window {
    from {
        transform: translate(0, 0%) skewX(60deg);
    }
    to {
        transform: translate(0, 100%) skewX(60deg);
    }
}
@keyframes continue-open-window {
    from {
        transform: translate(0, 100%) skewX(60deg);
    }
    to {
        transform: translate(0, 100%) skewX(60deg);
    }
}
@keyframes open-close-window {
    from {
        transform: translate(0, 0%) skewX(60deg);
    }
    50% {
        transform: translate(0, 70%) skewX(60deg);
    }
    to {
        transform: translate(0, 0%) skewX(60deg);
    }
}
.car__glass {
    animation: open-close-window 3s linear 4s;
    background-color: #fff;
    height: 55px;
    left: 305px;
    opacity: 0.3;
    position: absolute;
    top: 2px;
    transform: skewX(60deg);
    width: 170px;
}


.body-car__left {
    background: rgb(219,34,54);
    background: linear-gradient(90deg, rgba(219,34,54,1) 0%, rgba(203,12,33,1) 65%);
    border-radius: 100% 0% 87% 13% / 31% 91% 9% 69% ;
    bottom: 0;
    box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.91);
    display: inline-block;
    height: 220px;
    left: 0;
    position: relative;
    width: 320px;
    z-index: 3;
}
/** The rear stops of the car */
@keyframes turn-on-rear-stops {
    0% {
		background: #bc0b1d;
        box-shadow: 0px 0px 0px 0px #bc0b1d;
    }
    10% {
		background: #a50b18;
        box-shadow: 0px 0px 10px 5px #a50b18;
    }
	20% {
		background: #82050f;
		box-shadow: 0px 0px 10px 5px #82050f;
    }
    100% {
		background: #82050f;
		box-shadow: 0px 0px 10px 5px #82050f;
    }
}
.body-car__left::before {
    animation: turn-on-rear-stops 5.6s linear 2s;
    background: #bc0b1d;
    border: #101215 solid 1px;
    border-radius: 23% 77% 76% 24% / 52% 50% 50% 48%;
    content: "";
    height: 25px;
    left: 5px;
    position: absolute;
    top: 60px;
    transform: rotate(10deg);
    width: 40px;
    z-index: 2;
}
.body-car__triangle-shadow {
    border-color: transparent transparent transparent #e50d23;
    border-style: solid;
    border-width: 30px 0 15px 270px;
    height: 0px;
    position: absolute;
    right: 0;
    top: 60px;
    transform: rotate(10deg);
    width: 0px;
}
.body-car__right {
    background: rgb(219,34,54);
    background: radial-gradient(circle, rgba(219,34,54,1) 0%, rgba(203,12,33,1) 65%);
    border-radius: 0% 100% 5% 95% / 90% 71% 29% 10%;
    bottom: 0;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.91);
    display: inline-block;
    height: 180px;
    position: absolute;
    right: 0;
    width: 60%;
    z-index: 2;
}
/** The car headlights */
@keyframes turn-on-turn-off-headlights {
    0% {
        background: #fff;
        box-shadow: none;
    }
    20% {
        background: #f2e88c;
    }
    40% {
        background: #f2e88c;
        box-shadow: 0px 0px 5px 10px #f2e88c;
    }
	100% {
        background: #f2e88c;
        box-shadow: 0px 0px 5px 10px #f2e88c;
    }
}
@keyframes continue-shine-headlights {
    from {
        background: #fff;
		box-shadow: 0 0 5px 5px white;
    }
    to {
        background: #fff;
		box-shadow: 0 0 5px 5px white;
    }
}
.body-car__right::before {
    background-color: #fff;
    border: #101215 solid 1px;
    border-radius: 41% 59% 8% 92% / 25% 67% 33% 75%;
    bottom: 88px;
    content: "";
    height: 20px;
    position: absolute;
    right: 20px;
    transform: rotate(10deg);
    width: 70px;
	animation: turn-on-turn-off-headlights 5s linear 2s,
                continue-shine-headlights 2s linear 7s infinite;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.body-car__windshield {
    background: #BF0116;
    border-bottom: #101215 solid 1px;
    height: 8px;
    left: 70px;
    position: absolute;
    top: -20px;
    transform: rotate(30deg);
    width: 160px;
}

.body-car__door {
    background: rgb(219,34,54);
    background: radial-gradient(circle, rgba(219,34,54,1) 0%, rgba(164,8,25,1) 100%);
    border-inline: #101215 solid 1px;
    border-radius: 80% 20% 78% 22% / 0% 100% 0% 100%;
    bottom: 20px;
    display: inline-block;
    height: 150px;
    left: 0px;
    position: absolute;
    transform: rotate(5deg);
    width: 260px;
}
/** Rearview mirror */
.body-car__door::after {
    background: #101215;
    border: #FFF solid 1px;
    border-radius: 55% 45% 100% 0% / 0% 46% 54% 100%;
    content: "";
    height: 20px;
    position: absolute;
    right: 50px;
    top: -17px;
    width: 50px;
}
/** Door Handle */
.body-car__door::before {
    background: #101215;
    border: #FFF solid 1px;
    content: "";
    height: 8px;
    left: 5px;
    position: absolute;
    top: 20px;
    transform: rotate(-3deg);
    width: 40px;
}

/** Car Wheels  */
.car__wheels {
    position: relative;
    z-index: 10;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.car__wheel {
    background-color: #101215;
    border-radius: 50%;
    height: 150px;
    position: absolute;
    width: 150px;
	animation: rotate 2s linear infinite 8s;
}
.car__wheel::before {
    background-color: #101215;
    border-radius: 50%;
    content: "";
    height: 20px;
    left: 50%;
    position: absolute;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    z-index: 11;
}
.car__wheel::after {
    background: rgb(219,34,54);
    background: radial-gradient(circle, rgba(219,34,54,1) 0%, rgba(164,8,25,1) 100%);
    border-radius: 50%;
    content: "";
    height: 90px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
	border: 10px dashed #101215;

}
.car__wheel:first-child {
    bottom: -30px;
    left: 50px;
}
.car__wheel:last-child {
    bottom: -30px;
    right: 70px;
}

.car__rim-wheel {
    background-color: #28293E;
    border-radius: 50%;
    height: 110px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 110px;

}

/** FOOTER **/
/* [id]:not(:last-child) {
    display: none;
} */
.footer {
    background-color: #fdf0e9;
    color: #391400;
    font-weight: 700;
    text-align: center;
}
/* .footer__container {
    margin-inline: auto;
    max-inline-size: 1200px;
    padding-inline: 15px;
} */