@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,700,800);

/* Local fonts */
@import url('fonts.css');

/* Reset */
@import url('reset.css');

/* Keyframes */
@import url('keyframes.css');

body {
    font-family: "Epilogue", sans-serif;
}
textarea {
    resize: vertical;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="__container"] {
    max-width: 1170px;
	margin: 0 auto;
	padding-inline: 15px;
}

/** Buttons */
.button {
    border-radius: 6px;
    color: #FFF;
    font-weight: 900;
    overflow: hidden;
    padding: 18px 30px 16px;
    text-align: center;
    text-transform: uppercase;
	transition: all 0.4s;
}
.button--light-primary {
    background: #EF6D58;
	transition: background 0.3s;
}
.button--light-primary:hover {
    background-color: #FFF;
    border: 1px solid #EF6D58;
    color: #391400;
    padding: 17px 29px 15px;
}
.button--dark-secondary {
    border: 1px solid rgba(255, 255, 255, 0.30);
}
.button--dark-secondary:hover {
    background-color: #fff;
    color: #391400;
}

.header {
    background-color: #28293e;
}
.header__block {
	padding-block-start: 20px;
}
.header__block > hr {
	border: 1px solid #FFF;
}

.page {
    background-color: #28293e;
}
.page__portfolio, 
.portfolio-grid__label {
	margin-block-end: 140px;
}
.portfolio, 
.portfolio-grid {
    padding-block-start: 92px;
}
.portfolio__label, 
.portfolio-grid__label {
    margin-block-end: 20px;
    text-align: center;
}
.label {
    color: #EF6D58;
    letter-spacing: 3px;
    line-height: 2;
    text-transform: uppercase;
}
.portfolio__title, 
.portfolio-grid__title {
    margin: 0 auto 36px;
    text-align: center;
}
/* .header__line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	margin-block-end: 10px;
} */
.title {
    color: #FFF;
    font-size: 56px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1.14;
    max-inline-size: 531px;
    text-transform: capitalize;
}
.header__title--long {
    max-inline-size: none;
}
.header__link {
    color: #FFF;
    text-transform: capitalize;
    transition-duration: 0.3s;
	text-decoration: underline;

}
@media (any-hover: hover){
	.header__link:hover {
		color: #EF6D58;
		transform: scale(1.05);
	}
}

.portfolio__filter {
    margin-block-end: 68px;
}
.filter {
	display: flex;
    flex-wrap: wrap;
    gap: 15px 60px;
    justify-content: center;
    text-align: center;
}
.filter__item{
    color: rgba(255, 255, 255, 0.64);
    line-height: 2;
    text-transform: capitalize;
    transition-duration: 0.3s;
	cursor: pointer;
}
.filter__item sup {
    display: inline-block;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    transform: translateY(-8px);
}
.filter__item--text-light {
    color: #FFF;
}
@media (any-hover: hover){
	.filter__item:hover {
		color: #FFF;
		transform: scale(1.05);
	}
}
@media (max-width: 991.98px) {
	.portfolio__filter {
		margin-block-end: 36px;
	}
	.filter {
		column-gap: 30px;
	}
	.portfolio__label {
		margin-block-end: 17px;
	}
	.portfolio__title {
		margin-block-end: 35px;
	}
	.title {
		font-size: 40px;
		line-height: 1.2;
	}
}
@media (max-width: 767.98px) {
	.portfolio__filter {
		margin-block-end: 24px;
	}
	.filter {
		column-gap: 20px;
	}
}
@media (max-width: 509.98px) {
	.portfolio__filter  {
		display: none;
	}
	.portfolio__wrapper-select {
		position: relative;
	}
	.portfolio__wrapper-select::after {
		content: "";
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-color: #EF6D58 transparent transparent transparent;
		position: absolute;
		inset-block-start: 21px;
		inset-inline-end: 16px;
		color: #EF6D58;
		z-index: 1;
	}
	.portfolio__select {
		margin-block-end: 48px;
	}
	.select-portfolio {
		appearance: none;
		color: rgba(57, 20, 0, 0.64);
		font-size: 16px;
		line-height: 2;
		padding: 9px 16px 7px;
		width: 100%;
		border-radius: 6px;
		text-transform: capitalize;
	}
	.select-portfolio:focus-visible {
		border: 2px solid #EF6D58;
		outline: none;
	}
}
@media (min-width: 509.98px) {
	.portfolio__select {
		display: none;
	}
}

/** PORTFOLIO PRODUCTS */
.portfolio__products {
    margin-block-end: 64px;
}
.products {
    column-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
	max-width: 100%;
	justify-content: center;
}
.products__item {
    position: relative;
	flex: 1 1 40%;  /* calc(470 / 1170 * 100% */
    border-radius: 6px;
    overflow: hidden;
    aspect-ratio: 470 / 416;
}
.products__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.5s;
	will-change: transform;
}

.products__item:nth-child(4n+2),
.products__item:nth-child(4n+3){
    aspect-ratio: 670 / 416;
	/* flex-basis: calc(670 / 1170 * 100%); */
	flex-basis: 56.6%;
    /* 2+4*0+0, 2+4*0+1, 2+4*1+0, 2+4*1+1, 2+4*2+0, 2+4*2+1, 2+4*3+0, 2+4*3+1 */
    /* 2, 3, 6, 7, 10, 11, 14,15 ... */
    /* 4n+2, 4n+3 */
}
.products__item::before {
    content: "";
    position: absolute;
	z-index: 1;
    background: #5C2000;
    border-radius: 6px;
    inset-block-start: 0;
    inset-inline-start: 0;
    opacity: 0.3181;
    width: 100%;
    height: 100%;


    /* transition-duration: 0.3s; */
	transform: scaleX(100%);
	transform-origin: top;
	transition: transform 0.5s;

}

@media (any-hover: hover){
	.products__item:hover .products__title {
		color: #5C2000;
	}
	.products__item:nth-child(odd):hover::before {
		transform: scaleY(0);
		transform-origin: bottom;
		/* transform: translateX(100%); */
	}
	.products__item:nth-child(even):hover::before {
		/* transform: translateX(-100%); */
		transform: scaleY(0);
		transform-origin: bottom;
	}
	.products__item:hover img {
		transform: scale(1.1);
	}
}
.products__overlay {
	position: absolute;
	z-index: 2;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 51px 48px;
    row-gap: 24px;
    text-transform: capitalize;
    transform: translateY(-100%);
    height: 100%;
    width: 100%;
}
.products__label {
    background: #FFF;
    border-radius: 19px;
    color: #391400;
    line-height: 2;
    padding: 5px 16px 1px;
	transition: all 0.3s;
}
@media (any-hover: hover){
	.products__label:hover {
		background: #EF6D58;
		color: #FFF;
	}
}
.products__title {
    color: #FFF;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
	transition: all 0.3s;
}
.products__title--uppercase {
    text-transform: uppercase;
}
.portfolio__button {
    margin: 0 auto;
    text-align: center;
}
@media (max-width: 919.98px) {
	.products__item:nth-child(n) {
		flex-basis: 46%;
		flex-grow: 1;
		gap: 10px;
	}
}
@media (max-width: 767.98px) {
	.products__item:nth-child(n) {
		aspect-ratio: 329 / 416;
	}
	.products {
		justify-content: center;
		gap: 15px;
	}
	.products__overlay {
		padding: 36px 28px;
		row-gap: 20px;
	}
	.products__title {
		font-size: 32px;
	}
}
@media (max-width: 509.98px) {
	.products {
		flex-direction: column;
	}
	.products__item:nth-child(n) {
		flex-basis: 100%;
		gap: 32px;
	}
	.products__item:nth-child(n) img {
		object-position: left;
	}
}


/** PORTFOLIO GRID */



.footer {
    background-color: #fdf0e9;
    color: #391400;
    font-weight: 700;
    text-align: center;
	padding-block: 15px;
}
