@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

/* Local fonts */
@import url('fonts.css');

/* Reset */
@import url('reset.css');

/* Keyframes */
@import url('keyframes.css');

body {
    font-family: "Manrope", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="__container"] {
    margin: 0 auto;
    max-width: 1628px;
	padding-inline: 15px;
}



.header {
    background-color: #1E1E1E;
}
.header__block {
	padding-block-start: 20px;
}
.header__block > hr {
	border: 1px solid #FFF;
}




.portfolio__label {
    margin-block-end: 20px;
    text-align: center;
}
.label {
    color: #EF6D58;
    letter-spacing: 3px;
    line-height: 2;
    text-transform: uppercase;
}
.portfolio__title {
    margin: 0 auto 36px;
    text-align: center;
}
.title {
    color: #FFF;
    font-size: 56px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1.14;
    max-inline-size: 531px;
    text-transform: capitalize;
}
.header__title--long {
    max-inline-size: none;
}


.page {
    background-color: #1E1E1E;
}
/* .page__movies {
	margin-block-end: 140px;
}
.movies {
    padding-block-start: 92px;
} */


.page {
}
.page__movies-shows {
}
.movies-shows {
}
.movies-shows__container {
}
.movies-shows__movies {
}
.movies {
    padding-block-start: 50px;
}
.movies__block {
	border-radius: 12px;
	border: 1px solid #262626;
	padding: 50px;
}
.movies__header {
}
.header-movies-shows {
}
.header-movies-shows__title {
	color: #FFF;
	font-family: Manrope;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.5;
	margin-block-end: 50px;
}
.header-movies-shows__buttons {
}
.header-movies-shows__left-arrow {
}
.header-movies-shows__lines {
}
.header-movies-shows__right-arrow {
	
}
.movies__items {
}
.items-movies {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.items-movies__item {
	flex: 1 1 calc(360/1598 * 100%);
	border-radius: 12px;
	border: 1px solid #262626;
	background: #1A1A1A;
	padding: 20px;
	row-gap: 20px;
	display: flex;
	flex-direction: column;
	transition: all 0.3s;
	/* max-inline-size: 360px; */
}
@media (any-hover: hover){
	.items-movies__item:hover {
		border-color: #fdf0e9;
	}
}


.items-movies__img {
	/* flex: 1 1 320px; */
	flex: 1 1 calc(320/1598 * 100%);
	border-radius: 12px;
    aspect-ratio: 320 / 404;
}
.items-movies__img img {
    aspect-ratio: 320 / 404;
	width: 100%;
	object-fit: cover;
	border-radius: 12px;
	/* box-shadow: 2px 2px 2px 1px rgb(0 0 0); */
	/* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}
.items-movies__info {
	display: flex;
	justify-content: space-between;
}
.items-movies__lenght {
	color: #999;
	font-weight: 500;
	line-height: 1.5;
	padding: 6px 10px 6px 6px;
	border-radius: 51px;
	border: 1px solid #262626;
	background: #141414;
	display: flex;
	align-items: center;
	gap: 2px;
	flex-shrink: 1;
	white-space: nowrap;
}
.items-movies__lenght::before {
	content: "";
	background: url('../img/dark-theme/watch-ico.svg') 0 0 / 24px no-repeat;
	inline-size: 24px;
	block-size: 24px;
}
.items-movies__rank {
	display: flex;
	gap: 4px;
	align-items: center;
	padding: 6px 10px;
	border-radius: 51px;
	border: 1px solid #262626;
	background: #141414;
}

.items-movies__stars {
	display: flex;
	gap: 2px;
}
.items-movies__text {
	color: #999;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5;
}
.movies-and-shows__shows {
}
.shows {
}
.shows__block {
}
.shows__header {
}

@media (max-width: 1420px) {
	.header-movies-shows__title {
		margin-block-end: 20px;
	}
	.movies__block {
		padding: 16px;
	}
	.items-movies {
		gap: 16px;
	}
	.items-movies__item {
		padding: 12px;
		row-gap: 12px;
	}
	.items-movies__lenght, .items-movies__text {
		font-size: 12px;
	}
	.items-movies__lenght::before {
		inline-size: 20px;
		block-size: 20px;
		background-size: 20px;
	}
	.items-movies__stars {
		max-block-size: 14px;
		gap: 1px;
	}
}
@media (min-width: 865px) and (max-width: 1299.98px) {
	.items-movies__item {
		max-inline-size: 32%;
	}
}
@media (max-width: 767.98px) {
	
}

/** FOOTER */
.footer {
    background-color: #fdf0e9;
    color: #391400;
    font-weight: 700;
    padding-block: 15px;
    text-align: center;
}