@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700,800);

/* Local fonts */
@import url('fonts.css');

/* Reset */
@import url('reset.css');

/* Keyframes */
@import url('keyframes.css');

body {
    font-family: "Manrope", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="__container"] {
    margin: 0 auto;
    max-width: 1628px;
	padding-inline: 15px;
}
.header {
    background-color: #1E1E1E;
}
.header__block {
	padding-block-start: 20px;
}

.header__block > hr {
	border: 1px solid #FFF;
}
.portfolio__label {
    margin-block-end: 20px;
    text-align: center;
}
.label {
    color: #EF6D58;
    letter-spacing: 3px;
    line-height: 2;
    text-transform: uppercase;
}
.portfolio__title {
    margin: 0 auto 36px;
    text-align: center;
}
.header__line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	margin-block-end: 10px;
}
.header__link {
    color: #FFF;
    text-transform: capitalize;
    transition-duration: 0.3s;
	text-decoration: underline;
}
@media (any-hover: hover){
	.header__link:hover {
		color: #EF6D58;
		transform: scale(1.05);
	}
}
.title {
    color: #FFF;
    font-size: 56px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1.14;
    max-inline-size: 531px;
    text-transform: capitalize;
}
.header__title--long {
    max-inline-size: none;
}
.page {
    background-color: #1E1E1E;
}
.movies {
    padding-block-start: 50px;
}
.movies__block, .shows__block {
	border-radius: 12px;
	border: 1px solid #262626;
	padding: 50px;
	margin-block-end: 150px;
	position: relative;
}
.movies__header {
	margin-block-end: 50px;
}
.header-movies-shows {
	display: flex;
	justify-content: space-between;
	gap: 100px;
	align-items: center;
}
.header-movies-shows__title {
	color: #FFF;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.5;
	text-transform: capitalize;
}
.header-movies-shows__slider {
}
.slider {
	display: flex;
	padding: 16px;
	column-gap: 16px;
	border-radius: 12px;
	border: 1px solid #1F1F1F;
	background: #0F0F0F;
	block-size: 88px;
	align-self: end;
}
.slider__left-arrow, .slider__right-arrow {
	padding: 14px;
	border-radius: 6px;
	border: 1px solid #1F1F1F;
	background: #1A1A1A;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider__left-arrow img,
.slider__right-arrow img {
	inline-size: 28px;
	block-size: 28px;
}
.slider__lines {
	display: flex;
	column-gap: 3px;
	justify-content: space-between;
	align-items: center;
}
.slider__line {
	inline-size: 16px;
	block-size: 4px;
	flex: 1 0 16px;
	border-radius: 100px;
	background: #333;
}
.slider__line--activated {
	background: #E50000;
	flex: 1 0 23px;
}
@media (any-hover: hover){
	.slider__left-arrow:hover,
	.slider__right-arrow:hover,
	.slider__line:hover {
		background-color: #E50000;
	}
}
.movies__items {
}
.items-movies {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.items-movies__item {
	flex: 1 1 calc(360/1598 * 100%);
	border-radius: 12px;
	border: 1px solid #262626;
	background: #1A1A1A;
	padding: 20px;
	row-gap: 20px;
	display: flex;
	flex-direction: column;
	transition: all 0.3s;
}
@media (any-hover: hover){
	.items-movies__item:hover {
		border-color: #fdf0e9;
		transform: translateY(2px);
	}
}
.items-movies__img {
	flex: 1 1 calc(320/1598 * 100%);
	border-radius: 12px;
    aspect-ratio: 320 / 404;
}
.items-movies__img img {
    aspect-ratio: 320 / 404;
	width: 100%;
	object-fit: cover;
	border-radius: 12px;
}
.items-movies__info {
	display: flex;
	justify-content: space-between;
}
.items-movies__lenght {
	color: #999;
	font-weight: 500;
	line-height: 1.5;
	padding: 6px 10px 6px 6px;
	border-radius: 51px;
	border: 1px solid #262626;
	background: #141414;
	display: flex;
	align-items: center;
	gap: 2px;
	flex-shrink: 1;
	white-space: nowrap;
}
.items-movies__lenght::before {
	content: "";
	background: url('../img/dark-theme/watch-ico.svg') 0 0 / 24px no-repeat;
	inline-size: 24px;
	block-size: 24px;
}
.items-movies__rank {
	display: flex;
	gap: 4px;
	align-items: center;
	padding: 6px 10px;
	border-radius: 51px;
	border: 1px solid #262626;
	background: #141414;
}
.items-movies__stars {
	display: flex;
	gap: 2px;
}
.items-movies__text {
	color: #999;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5;
}

/** SHOWS */
.movies-shows__shows {
}
.shows {
}
.button {
	padding: 10px 24px;
	align-items: center;
	border-radius: 8px;
	background: #E50000;
	color: #FFF;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	position: absolute;
	inset-inline-start: 50px;
	inset-block-start: -20px;
}
@media (any-hover: hover){
	.button:hover {
		background: #D10202;
	}
}
.shows__block {
}
.shows__header {
	margin-block-end: 50px;
}
.header-movies-shows {
}
.header-movies-shows__title {
}
.header-movies-shows__slider {
}
.slider {
}
.slider__left-arrow {
}
.slider__lines {
}
.slider__line {
}
.slider__line--activated {
}
.slider__right-arrow {
}
.shows__items {
}
.items-shows {
	display: flex;
	gap: 30px;
	overflow-x: auto;
	overflow-y: visible;
	scroll-snap-type: x mandatory;
}
.items-shows__item {
	padding: 30px;
	border-radius: 12px;
	border: 1px solid #262626;
	background: #1A1A1A;
	min-inline-size: 182px;
	transition: all .6s ease;
}
.items-shows__item:hover {
	border-color: #E50000;
	transform: translateY(.5px);
}
.items-shows__item:hover .items-shows__pictures::before {
	opacity: 0; /*opacity анімується*/
	visibility: hidden; /*visibility не анімується*/
	top: -100%;
}
.items-shows__pictures {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	margin-block-end: 10px;
}
.items-shows__pictures::before {
	content: "";
	background: linear-gradient(180deg, rgba(26, 26, 26, 0.00) 0%, #1A1A1A 101.79%);
	inline-size: 100%;
	block-size: 100%;
	position: absolute;
	transition: all 0.5s ease;
	inset-inline-start: 0;
	inset-block-start: 0;
}
.items-shows__row-img {
	display: flex;
	column-gap: 5px;
}
.items-shows__row-img img {
	border-radius: 10px;
    aspect-ratio: 106 / 124;
	inline-size: calc(106 / 216 * 100%);
}
.items-shows__footer {
	display: flex;
	justify-content: space-between;
}
.items-shows__genre {
	color: #FFF;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5;
	transition: all 0.3s;
}
.items-shows__arrow {
	inline-size: 30px;
	aspect-ratio: 1;
	transition: all 0.3s;
}
@media (any-hover: hover){
	.items-shows__genre:hover {
		color: #E50000;
	}
	.items-shows__arrow:hover {
		animation: move-right-element 1s linear 0s 2;
	}
	.items-shows__arrow:hover path {
		stroke: #E50000;
	}
}
.indicator {
	display: flex;
	background-color: #333;
	inline-size: 80px;
	block-size: 5px;
	border-radius: 20px;
	cursor: pointer;
}
.shows__indicator {
	display: none;
	margin-inline: auto;
}
.indicator__line {
	background-color: #333;
	border-radius: 20px;
	inline-size: 20px;
	block-size: 5px;
}
@media (any-hover: hover){
	.indicator__line:hover {
		background: #E50000;
	}
}
.indicator__line--selected {
	border-radius: 20px;
	background: #E50000;
}
@media (max-width: 1420px) {
	.movies__block, .shows__block {
		padding: 40px;
	}
	.button {
		padding: 8px 20px;
		border-radius: 6px;
		font-size: 16px;
	}
	.movies__header {
		margin-block-end: 40px;
	}
	.header-movies-shows__title {
		font-size: 30px;
	}
	.slider {
		padding: 12px;
		column-gap: 12px;
		border-radius: 10px;
		block-size: 68px;
	}
	.slider__left-arrow, 
	.slider__right-arrow {
		padding: 10px;
		inline-size: 44px;
		block-size: 44px;
	}
	.slider__left-arrow img,
	.slider__right-arrow img {
		inline-size: 24px;
		block-size: 24px;	
	}
	.slider__lines {
		display: flex;
		column-gap: 3px;
		justify-content: space-between;
		align-items: center;
	}
	.slider__line {
		inline-size: 16px;
		block-size: 4px;
		flex: 1 0 14px;
		border-radius: 100px;
		background: #333;
	}
	.slider__line--activated {
		background: #E50000;
		flex: 1 0 18px;
	}
	.movies__block, .shows__block {
		padding: 16px;
	}
	.items-movies {
		gap: 16px;
	}
	.items-movies__item {
		padding: 12px;
		row-gap: 12px;
	}
	.items-movies__lenght, .items-movies__text {
		font-size: 12px;
	}
	.items-movies__lenght::before {
		inline-size: 20px;
		block-size: 20px;
		background-size: 20px;
	}
	.items-movies__stars {
		max-block-size: 14px;
		gap: 1px;
	}

	/* Shows */
	.items-shows {
		gap: 20px;
	}
	.items-shows__item {
		padding: 24px;
		border-radius: 10px;
	}
	.items-shows__row-img img {
		border-radius: 6px;
	}
	.items-shows__genre {
		font-size: 16px;
	}
	.items-shows__arrow {
		inline-size: 24px;
	}
}
@media (min-width: 830px) and (max-width: 1189.98px) {
	.items-movies__item {
		max-inline-size: 32%;
	}
}
@media (max-width: 991.98px) {
	.header-movies-shows__slider {
		display: none;
	}
	.movies__block, .shows__block {
		border: 0;
		padding: 0;
		margin-block-end: 50px;
	}
	.movies__header, 
	.movies__items,
	.shows__header, 
	.shows__items {
		margin-block-end: 20px;
	}
	.button {
		display: none;
	}
	.items-shows {
		gap: 16px;
	}
	.shows__indicator {
		display: flex;
	}
}

/** FOOTER */
.footer {
    background-color: #fdf0e9;
    color: #391400;
    font-weight: 700;
    padding-block: 15px;
    text-align: center;
}