@import url('reset.css');

/* Найнижчий пріоритет */
* {
	color: blueviolet;
}

/* селектор тегу вищий ніж амперсанд */
p {
	color: black;
}

/* селектор класу вищий ніж селектор тегу */
.title {
	color: coral;
}

/* найвищий пріоритет */
#ingredients {
	color: dodgerblue;
}

/* селектор тегу вищий ніж амперсанд */
h2 {
	color: red;
}

/* Усі селектори в яких селектор класу закінчується на "-1" */
/* Але при рівнозначних селекторах діє пр. №1 */
[class$="-1"] {
	color: darkblue;
}
/* Усі селектори в яких значення атрибуту title поч. з Крок */
[title^="Крок"] {
	color: rgb(0, 139, 25);
}
/* Усі селектори в яких селектор класу містить "tic" */
[class*="tic"] {
	color: rgb(217, 134, 215);
}

.main .step-4, /* Звертаємось до обʼктів з класом step-4 які вкладені в обєкти з класом main */
.main .step-4 + p {  /* перший тег p який знаходиться безпосередньо далі по коду після обєктів з класом .step-4 які вкладені в обєкти з класом main*/
	color: indigo;
}

.red {
	color: red;
}
.mark {
	color: aqua;
}
/* звертаємось до обєктів у якого одночасно є клас mark та red  */
.mark.red {
	color: brown;
}

/* Звертаємось до усіх обєктів які знаходяться в середині обєктів з класом footer */
.footer *{
	color:rgb(0, 139, 25)
}