@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* Local fonts */
@import url('fonts.css');

/* Reset */
@import url('reset.css');

body {
    font-family: "DM Sans", sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

/** HEADER **/
.header {
    /* display: none; */
    min-block-size: 1050px;

background:  url("../img/Yevhen.webp") right 5px / contain no-repeat fixed, 
    linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}

.header__title {
    color: #F4F18A;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.32;
    margin-block-end: 100px;
    padding-block-start: 5px;
    text-align: center;
    text-shadow: 2px 2px 5px #42315B;
}

.header__nav {
    margin-inline-end: -50px;
    text-align: center;
}

.circle-bitmap {
    background-image: url("../img/Bitmap.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 3px solid #F4F18A;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    vertical-align: middle;
    width: 100px;
}

.circle {
    background-color: #7a956b;
    border-radius: 50%;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    margin-block-end: 50px;
    margin-inline-end: 50px;
    min-height: 300px;
    min-width: 300px;
    padding-block-start: calc(300px/2 - 18px);
    vertical-align: middle;
}

/* .freelancer-life-style {
    background: url("../img/logo.webp") center / 270px no-repeat;
    box-shadow: 0px 0px 0px 1px #0F0F0F;
} */

.game-link {
    background-color: #3A1C71;
    color: #FDBB2D;
}
.game-link:hover {
    background-color: #42315B;
}

.timeline-link {
    background-color: #edebff;
    color: #4A3AFF;
}
.timeline-link:hover {
    background-color: #e1defc;
}

.light {
    background-color: transparent;
    box-shadow: 0px 0px 0px 1px #0F0F0F;
    color: #0F0F0F;
}

/** GAME **/
.page {
}
.section-game {
    background: url('../img/space_background.jpg') 0 0 / cover no-repeat;
    /* display: none; */
}
.container {
    margin-inline: auto;
    max-inline-size: 1200px;
    padding-inline: 15px;
}
.game {
    block-size: 840px;
    padding-block: 20px;
    text-align: center;
}
.game__header {
    color: #FDBB2D;
    font-size: 32px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.folder {
    block-size: 800px;
    font-size: 0;
    padding: 10px;
    text-align: left;
    white-space: nowrap;
}
.folder__circle {
    border: 3px solid #F4F18A;
    border-radius: 50%;
    color: #F4F18A;
    font-size: 18px;
    font-weight: 700;
    height: 60px;
    padding-block-start: calc(60px/2 - 18px/2 - 2px);
    text-align: center;
    vertical-align: middle;
    width: 60px;
}
.folder__circle:hover {
    background-color: #42315B;
}

.star-way-horizontal {
    background: #3A1C71 url('../img/star-24.png') 0 center repeat-x;
    block-size: 48px;
    padding: 20px;
}
.star-way-vertical {
    background: #3A1C71 url('../img/star-24.png') center 0 repeat-y;
    inline-size: 48px;
    padding: 20px;
}
.arrow::before {
    content: "";
    display: none;
    height: 60px;
    width: 60px;
}
.arrow-right::before {
    background: url('../img/arrow-right.png') 0 0 no-repeat;
    margin-block-start: 20px;
}
.arrow-left::before {
    background: url('../img/arrow-left.png') 0 0 no-repeat;
    margin-block-start: 20px;
    margin-inline-start: 60px;
}
.arrow-down::before {
    background: url('../img/arrow-down.png') 0 0 no-repeat;
    margin-block-start: 30px;
    margin-inline-start: -60px;
}
.arrow-up::before {
    background: url('../img/arrow-up.png') 0 0 no-repeat;
    margin-block-start: 20px;
    margin-inline-start: -60px;
}

.arrow-right:hover::before,
.arrow-left:hover::before,
.arrow-down:hover::before,
.arrow-up:hover::before {
    display: block;
}
.stars-block-1 {
    display: block;
    margin-block-end: -5px;
    margin-inline-start: -5px;
}
.stars-block-2 {
    block-size: 144px;
    display: inline-block;
}

.stars-block-3 {
    display: inline-block;
    inline-size: 192px;
}

.stars-block-4 {
    display: inline-block;
    inline-size: 192px;
}
.stars-block-5 {
    display: inline-block;
    inline-size: 240px;
}
.stars-block-6 {
    display: inline-block;
    inline-size: 192px;
}
.stars-block-7 {
    block-size: 144px;
    display: inline-block;
    margin-block-start: -96px;
}
.stars-block-8 {
    display: inline-block;
    inline-size: 144px;
    margin-block-end: 96px;
}
.stars-block-9 {
    block-size: 144px;
    display: inline-block;
}
.stars-block-10 {
    block-size: 96px;
    margin-inline-start: 1056px;
}

.stars-block-11 {
    inline-size: 240px;
    margin-inline-start: 864px;
}

.stars-block-12 {
    block-size: 96px;
    display: inline-block;
    margin-inline-start: 864px;
}
.stars-block-13 {
    inline-size: 912px;
}
.stars-block-14 {
    block-size: 96px;
    display: inline-block;
}
.stars-block-15 {
    display: inline-block;
    inline-size: 96px;
}
.stars-block-16 {
    display: inline-block;
    inline-size: 192px;
}
.stars-block-17 {
    display: inline-block;
    inline-size: 336px;
}
.stars-block-18 {
    display: inline-block;
    inline-size: 336px;
}
.stars-block-19 {
    block-size: 96px;
    display: inline-block;
    margin-block-end: -48px;
}
.stars-block-20 {
    display: block;
    margin-block-start: 43px;
    margin-inline-start: 1003px;
}
.stars-block-21 {
    display: inline-block;
    margin-block-start: -400px;
    margin-inline-start: 360px;
}

.message-win {
    background-color: #3A1C71;
    color: #0F0F0F;
    color: #FDBB2D;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    margin-block-start: -400px;
    margin-inline-start: 360px;
    padding: 20px;
    text-align: center;
    vertical-align: top;
    visibility: hidden;
}
.message-win p{
    font-size: 24px;
}

[class*="stars-block"]:not(:first-child) {
    visibility: hidden;
}

[class*="stars-block"]:hover,
[class*="stars-block"]:hover + [class*="stars-block"] {
    visibility: visible;
}

/** TIMELINE **/
.section-timeline {
    /* display: none; */
}
.timeline {
    padding-block: 50px;
}
.timeline__item {
    inline-size: 630px;
}
.timeline__item > *:not(:last-child) {
    margin-block-end: 8px;
}
.timeline__date {
    color: #4A3AFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
}
[class^="timeline__header"] {
    color: #1E1B39;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.29;
}
[class^="timeline__header"]::after {
    block-size: 46px;
    content: "";
    inline-size: 46px;
    margin-inline-start: 5px;
    vertical-align: top;
}
.timeline__header-1::after {
    background: url('../img/dandruff.png') center / 46px no-repeat;
}
.timeline__header-2::after {
    background: url('../img/laptop.png') center / 46px no-repeat;
}
.timeline__header-3::after {
    background: url('../img/rocket.png') center / 46px no-repeat;
}
.timeline__text {
    color: #6E6C83;
    font-size: 24px;
    line-height: 1.75;
}
.timeline__item:not(:last-child) {
    margin-block-end: 54px;
}

/** PRICING PLAN **/
.section-pricing-plan {
}
.container-pricing-plan {
    margin-block: 0px;
    margin-inline: auto;
    max-inline-size: 1708px;
	padding-inline: 15px;

    /*! 1920 - 106 * 2 = 1708 */
}
.pricing-plan {
    padding-block: 106px;
}
.pricing-plan__header {
    color: #1E1B39;
    font-size: 88px;
    font-weight: 700;
    line-height: 1.08;
    margin-block-end: 50px;
}
.pricing-plan__cards {
}
.pricing-plans__card {
    background: #F0F0F6;
    border-radius: 56px;
    padding-block: 24px 58px;
    padding-inline: 24px;
    width: 543px;
	display: inline-block;
	margin-block-end: 39.5px;
}
.pricing-plans__card:not(:last-child) {
	margin-inline-end: 39.5px;
}
.pricing-plans__card-header {
    background: #4A3AFF;
    border-radius: 34px;
    margin-block-end: 34px;
    padding-block: 45px;
    text-align: center;
}
.pricing-plans__card-header-title {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.07;
    margin-block-end: 2px;
    opacity: 0.9;
}
.pricing-plans__card-header-price {
    color: #FFF;
    font-size: 116px;
    font-weight: 700;
    line-height: 1.03;
    margin-block-end: 6px;
}
.pricing-plans__card-header-billing {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    opacity: 0.6;
}

.pricing-description__items {
    color: #1E1B39;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.36;
}
.pricing-description__item {
}
.pricing-description__item::before {
    background: url("../img/check_circle.svg") top / 36px no-repeat;
    content: "";
    height: 36px;
    margin-inline-end: 14px;
    vertical-align: top;
    width: 36px;
}
.pricing-description__item:not(:last-child) {
    margin-block-end: 26px;
}

/** FOOTER **/
.footer {
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
    color: #F4F18A;
    font-weight: 700;
    padding-block: 20px;
    text-align: center;
}
.footer .container {
    margin-inline: auto;
    max-inline-size: 1200px;
    padding-inline: 15px;
}
