@keyframes rotate-element {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes move-element {
    0% {
        transform: translate(0,0);
    }
	20% {
        transform: translate(0, -10px);
    }
    40% {
        transform: translate(-10px, 0);
    }
	60% {
        transform: translate(0, 10px);
    }
	80% {
        transform: translate(10px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes move-element-left-right {
    0% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-15px);
    }
	80% {
        transform: translateX(15px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes increase-width-large {
    0% {
		fill: #abb1e5;
		width: 94px;
    }
	50% {
		fill: #abb1e5;
		rx: 5;
		width: 108px;
	}
    100% {
		rx: 5;
		fill: #abb1e5;
		width: 94px;
    }
}
@keyframes increase-width-midle {
    0% {
		fill: #abb1e5;
		width: 78px;
    }
	50% {
		rx: 5;
		fill: #abb1e5;
		width: 90px;
	}
    100% {
		rx: 5;
		fill: #abb1e5;
		width: 78px;
    }
}
@keyframes increase-width-small {
    0% {
		fill: #abb1e5;
		width: 62px;
    }
	50% {
		rx: 5;
		fill: #abb1e5;
		width: 71px;
	}
    100% {
		rx: 5;
		fill: #abb1e5;
		width: 62px;
    }
}
@keyframes increase-decrease-circle {
	0% {
		r: 22.5;
    }
	50% {
		r: 27;
	}
    100% {
		r: 27;
    }
}
@keyframes move-circle {
	0% {
		transform: translateY(0px);
    }
	50% {
		transform: translateY(30px);
	}
    100% {
		transform: translateY(0px);
    }
}
@keyframes close-down {
	0% {
		transform-origin: 100% 100%;
		transform: rotate(30deg);
    }
	25% {
		transform: rotate(0deg);
	}
	50% {
		transform-origin: 50% 50%;
		transform: translateX(2px) rotate(45deg) translateY(2.5px);
	}
	100% {
		transform: translateX(2px) rotate(45deg) translateY(2.5px);
	}
}
@keyframes close-up {
	0% {
		transform-origin: 100% 100%;
		transform: rotate(-30deg);
    }
	25% {
		transform: rotate(0deg);
	}
	50% {
		transform-origin: 50% 50%;
		transform: translateX(2px) rotate(-45deg) translateY(-2.5px);
	}
	100% {
		transform: translateX(2px) rotate(-45deg) translateY(-2.5px);
	}
}
@keyframes open-down {
	0% {
		transform-origin: 50% 50%;
		transform: translateX(2px) rotate(45deg) translateY(2.5px);
    }
	100% {
		transform: rotate(0deg);
	}
}
@keyframes open-up {
	0% {
		transform-origin: 50% 50%;
		transform: translateX(2px) rotate(-45deg) translateY(-2.5px);
    }
	100% {
		transform: rotate(0deg);
	}
}