@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900);

/* Local fonts */
@import url('fonts.css');

/* Reset */
@import url('reset.css');

/* Keyframes */
@import url('keyframes.css');

body {
    font-family: Epilogue, sans-serif;
}
textarea {
    resize: vertical;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="__container"] {
    max-width: 1200px;
	margin: 0 auto;
	padding-inline: 15px;
}
.header {
	color: #FFF;
	background-color: #28293E;
	padding-block-start: 16px;
	padding-block-end: 56px;

}
.header__container {
}
.header__nav {
	display: flex;
	column-gap: 15px;
	align-items: center;
	justify-content: space-between;
	margin-block-end: 124px;
}
.header__logo {
	display: inline-flex;
	column-gap: 14px;
	align-items: center;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.33;
	position: relative;
	z-index: 5;
}
.header__menu {
}
.menu {
}
.menu__icon {
}
.icon-menu {
	display: none;
}
.menu__body {
}
.menu__list {
	display: flex;
	column-gap: 105px;
	align-items: center;
	justify-content: space-between;
	line-height: 2;
	flex-wrap: wrap;
	row-gap: 3px;
}
.menu__item {
}
.menu__link {
}
.link {
    line-height: 2;
    text-align: center;
    text-transform: capitalize;
}
@media (any-hover: hover){
	.link:hover {
		text-decoration: underline;
	}
}
.header__actions {
}
.actions-header {
	position: relative;
	z-index: 5;
	min-inline-size: 152px;
	display: flex;
	column-gap: 10px;
	align-items: center;
	row-gap: 3px;
	justify-content: flex-end;
}
.actions-header__button {
	min-inline-size: 138px;
	max-inline-size: 300px;
}
.button {
    border-radius: 6px;
    display: inline-block;
    font-size: 14px;
    font-weight: 900;
    min-block-size: 48px;
    padding-block-end: 16px;
    padding-block-start: 18px;
    padding-inline: 15px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
.button--grey-border {
    border: 1px solid rgba(255, 255, 255, 0.30);
}
.button--grey-border:hover {
	background-color: #B550F8;
	border-color: #28293E;
}
.header__body {
	display: flex;
	gap: 20px;
}
.header__text-block {
    position: relative;
    z-index: 0;
}
.text-block {
	flex: 1 1 43.85%;
	inline-size: 43.846154%; /* 513/1170 */
}
.text-block__star {
    inset-block-start: 3.654485%; /* 22/602 */
    inset-inline-start: 54.191033%; /* 278/513 */
    position: absolute;
    inline-size: 148;
	aspect-ratio: 1;
    z-index: -1;
	animation: rotate-element linear 20s infinite;
}
.text-block__label {
	margin-block-end: 24px;
}
.label {
	color: #EF6D58;
    letter-spacing: 3px;
    line-height: 2;
    text-transform: uppercase;
}
.text-block__title {
	margin-block-end: 24px;
}
.title {
	font-size: 72px;
	font-weight: 800;
	line-height: 1.11;
	letter-spacing: -2px;
	text-transform: capitalize;
}
.text-block__describe {
	color: rgba(255, 255, 255, 0.64);
	line-height: 2;
	margin-block-end: 34px; /* 34/513 */
}
.text-block__links {
	display: flex;
	flex-wrap: wrap;
	column-gap: 22px;
	row-gap: 12px;
	align-items: center;
    margin-block-end: 84px;
}
.text-block__button {
	min-inline-size: 154px; /* 154/513 */
}
.button {
}
.button--background-sunrise-orange {
    background: #EF6D58;
}
.button--background-sunrise-orange:hover {
    background: #ED5B44;
}
.text-block__link {
}
/* .link {
    line-height: 2;
    text-align: center;
    text-transform: capitalize;
}
@media (any-hover: hover){
	.link:hover {
		text-decoration: underline;
	}
} */

/** IMG BLOCK */
.header__img-block {
}
.img-block {
	position: relative;
	z-index: 1;
	aspect-ratio: 570 / 602;
	flex: 1 1 48.72%;
}
.img-block::after {
	content: '';
	border-radius: 50%;
	background: #32334C;
	inline-size: 64.912281%; /* 370/570 */
	aspect-ratio: 1;
	position: absolute;
	inset: 17.54386%; /* 100/570 */
	z-index: -1;
}
.img-block__laptop {
	position: absolute;
	inset-block-start: 0;
    inset-inline-start: 0;
	z-index: 0;
	inline-size: 43.16%; /* 246 / 570 */
	aspect-ratio: 246 / 305;
	border-radius: 50% 50% 6px 6px / 41% 41% 6px 6px;
    background-color: #B550F8;
	animation: move-element 19s linear 3s infinite;
	transition: all 0.3s;
}
.img-block__laptop img {
	position: absolute;
    inset-inline-start: 8.5%;
	inset-block-start: 9.75%;
	inline-size: 103.6%;
	aspect-ratio: 255 / 265;
	object-fit: contain;
}
.img-block__stars {
	inline-size: 19.65%; /* 112 / 570 */
	aspect-ratio: 1;
	background-color: #EF6D58;
	border-radius: 50%;
    position: absolute;
    padding-block-start: 4.65%; /* 28 / 602 */
    inset-block-start: 6.64%;  /* 40 / 602 */
    inset-inline-start: 53.33%; /* 304 / 570 */
	text-align: center;
}
.img-block__stars img {
    inline-size: 37.5%;
	aspect-ratio: 42 / 56;
	object-fit: contain;
	animation: move-element 20s linear infinite;
}
.img-block__cloud {
	inline-size: 19.65%; /* 112 / 570 */
	inset-block-start: 13.29%; /* 80 / 602 */
    inset-inline-end: 0;
    position: absolute;
	transition: all 0.3s;
	animation: move-element-left-right 19s linear infinite,
			move-element 20s linear infinite reverse;
}
.img-block__cloud img {
	inline-size: 100%;
	aspect-ratio: 112 / 82;
	object-fit: contain;
}
.img-block__girl {
	background: #F7CC47;
	inline-size: 43.16%; /* 246 / 570 */
	aspect-ratio: 246 / 305;
	border-radius: 50% 50% 6px 6px / 41% 41% 6px 6px;
	inset-block-start: 31.39%;  /* 189 / 602 */
    inset-inline-end: 0;
    position: absolute;
	overflow: hidden;
	animation: move-element 23s linear 2s infinite;
}
.img-block__girl img {
	position: absolute;
	inset-block-end: 0;
	inline-size: 100%;
	aspect-ratio: 246 / 269;
	border-radius: 6px;
	object-fit: contain;
}
.img-block__arrow {
	position: absolute;
	inline-size: 16.491228%; /* 94/570 */
	aspect-ratio: 94 / 35;
	inset-block-start: 90.531561%; /* 545/602 */
	inset-inline-end: 28.421053%; /* 162/570 */
	animation: move-element-left-right 19s linear infinite;
	transition: all 0.3s;
}
.img-block__arrow img {
	inline-size: 100%; /* 94/570 */
	aspect-ratio: 94 / 35;
	object-fit: contain;
}
.img-block__card {
	position: absolute;
    inset-inline-start: 9.824561%; /* 56/570 */
	inset-block-start: 71.594684%; /* 431/602 */
	aspect-ratio: 214 / 112;
	width: 37.54386%; /* 214/570 */
	height: 18.604651%; /* 112/602 */
	transition: all 0.5s;
	animation: move-element-left-right 19s ease infinite;
}
.img-block__card:hover circle {
	animation: move-circle 2s linear;
}
.img-block__card:hover rect:nth-of-type(2) {
	animation: increase-width-large 1.2s linear ;
}
.img-block__card:hover rect:nth-of-type(3) {
	animation: increase-width-midle 1.2s linear 0.25s;
}
.img-block__card:hover rect:nth-of-type(4) {
	animation: increase-width-large 1.2s linear 0.5s;
}
.img-block__card:hover rect:nth-of-type(5) {
	animation: increase-width-small 1.2s linear 0.75s;
}
.img-block__card:hover, .img-block__card circle{
	animation-play-state: paused;
}
.img-block__card circle{
	transition: all 0.3s;
}
.img-block__card rect:not(:first-child) {
	transition: all 0.5s;
}
.img-block__wavy-arrow {
	position: absolute;
	inline-size: 24.912281%; /* 142/570 */
    inset-inline-start: 0;
	inset-block-start: 56.312292%; /* 339/602 */
	animation: move-element-left-right 21s linear infinite reverse;
}
.img-block__wavy-arrow img{
	inline-size: 100%;
	aspect-ratio: 142 / 73;
	object-fit: contain;
}

/** QUOTE */
.header__quote {
}
.quote {
	display: flex;
	column-gap: 16px;
	align-items: start;
}
.quote__avatar {
}
.avatar {
	background-color: #B550F6;
	border-radius: 50%;
	inline-size: 48px;
	block-size: 48px;
	display: flex;
	justify-content: center;
	align-items: end;
	overflow: hidden;
	flex: 0 0 48px;
}
.avatar__img {
	inline-size: 38px;
	aspect-ratio: 38 / 43;
}
.quote__block {

}
.quote__text {
	color: rgba(255, 255, 255, 0.64);
	line-height: 2;
}
.quote__author {
	line-height: 2;
}

@media (min-width: 1199.98px){
	.header__body {
		column-gap: 87px;
	}
}
@media (max-width: 1199.98px){
	.text-block__star {
		inset-block-start: 2.990033%; /* 18/602 */
		inset-inline-start: 210px; /* 210/513 */
	}
	.title {
		font-size: 56px;
		line-height: 1.14;
		letter-spacing: -1px;
	}
}
@media (max-width: 979.98px) {
	.header__nav {
		margin-block-end: 50px;
	}
	.menu__list {
		column-gap: 60px;
	}
}
@media (max-width: 911.98px) {
	
	.header__body {
		flex-direction: column-reverse;
		gap: 30px;
	}
	.header__img-block {
		margin-inline: auto;
	}
	.img-block {
		inline-size: 100%;
		max-inline-size: 570px;
	}
	.text-block {
		inline-size: 100%;
	}
}
@media (max-width: 839.98px) {
	.menu__list {
		column-gap: 40px;
	}
}
@media (max-width: 767.98px) {
	.header__nav {
		margin-block-end: 16px;
	}
	.text-block__label {
		margin-block-end: 20px;
	}
	.text-block__title {
		margin-block-end: 12px;
	}
	.text-block__describe {
		margin-block-end: 16px;
	}
	.text-block__links {
		margin-block-end: 44px;
	}
}
@media (max-width: 709.98px) {
	.open-menu body {
		overflow: hidden;
	}
	.actions-header {
		min-block-size: 48px;
	}
	.icon-menu {
		flex: 0 0 48px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		inline-size: 48px;
		block-size: 48px;
		border-radius: 6px;
		border: 1px solid rgba(255, 255, 255, 0.295743);
		padding: 16px;
	}
	.icon-menu span{
		margin-block: 2px;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		flex: 0 0 2px;
		block-size: 2px;
		inline-size: 16px;
		background-color: #fff;
		transition: all 0.4s ease;
		border-radius: 6px;
	}
	.open-menu .icon-menu span {
		transform: translateX(-18px);
		width: 0;
		height: 0;
		margin: 0;
	}
	.icon-menu::before {
		animation: open-down 0.5s linear 0s;
	}
	.icon-menu::after {
		animation: open-up 0.5s linear 0s;
	}
	.open-menu .icon-menu::before {
		animation: close-down 0.9s linear 0s forwards;
	}
	.open-menu .icon-menu::after {
		animation: close-up 0.9s linear 0s forwards;
	}
	.menu__body {
		position: fixed;
		inset-inline-start: 100%;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100%;
		z-index: 2;
		transition: inset-inline-start 0.3s;
		overflow: auto;
		padding: 100px 15px 30px;
		background-color: #28293E;
	}
	.menu__body::before {
		content: '';
		position: fixed;
		inline-size: 100%;
		block-size: 80px;
		inset-inline-start: 100%;
		inset-block-start: 0;
		z-index: 3;
		background-color: #28293E;
		transition: inset-inline-start 0.3s;
	}

	.open-menu .menu__body,
	.open-menu .menu__body::before {
		inset-inline-start: 0;
	}
	.menu__list {
		flex-direction: column;
		align-items: flex-end;
		background-color: transparent;
		row-gap: 25px;
	}
	.menu__link {
		font-size: 26px;
		padding: 0;
	}
	.menu__link.active {
		text-decoration: underline;
		background-color: transparent;
	}
}
@media (max-width: 640px) {
	.img-block__laptop,
	.img-block__stars img,
	.img-block__cloud,
	.img-block__girl,
	.img-block__arrow,
	.img-block__card,
	.img-block__wavy-arrow {
		animation: normal;
	}
}
@media (max-width: 436px) {
	.text-block__star {
		display: none;
	}
	.title {
		font-size: 40px;
	}
	.text-block__links {
		flex-direction: column;
	}
	.text-block__links {
		align-items: normal;
	}
}
@media (max-width: 410px) {
	.header__nav {
		column-gap: 5px;
	}
	.header__logo {
		column-gap: 5px;
	}
	.actions-header {
		min-inline-size: 48px;
		column-gap: 5px;
	}
}
@media (max-width: 369.98px) {
	.actions-header__button {
		min-inline-size: 0;
	}
	.button {
		padding-inline: 10px;
	}
	[class*="__container"] {
		padding-inline: 10px;
	}
}

.footer {
    background-color: #fdf0e9;
    color: #391400;
    font-weight: 700;
    text-align: center;
	padding-block: 15px;
}
