@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900);

/* Local fonts */
@import url('fonts.css');

/* Reset */
@import url('reset.css');

/* Keyframes */
@import url('keyframes.css');

body {
    font-family: Epilogue, sans-serif;
}
textarea {
    resize: vertical;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="__container"] {
    max-width: 1200px;
	margin: 0 auto;
	padding-inline: 15px;
}
.header {
	color: #FFF;
	background-color: #28293E;
	padding-block: 16px;
}
.header__container {
}
.header__nav {
	display: flex;
	column-gap: 15px;
	align-items: center;
	justify-content: space-between;

	margin-block-end: 124px;
}
.header__logo {
	display: inline-flex;
	column-gap: 14px;
	align-items: center;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.33;
}
.header__menu {
}
.menu {
}
.menu__icon {
}
.icon-menu {
}
.menu__body {
}
.menu__list {
	display: flex;
	column-gap: 105px;
	align-items: center;
	justify-content: space-between;
	line-height: 2;
	flex-wrap: wrap;
	row-gap: 3px;

}
.menu__item {
}
.menu__link {
}
.link {}
.header__actions {
}
.actions-header {
	min-inline-size: 152px;
	display: flex;
	column-gap: 10px;
	align-items: center;
	row-gap: 3px;
	justify-content: flex-end;
}
.actions-header__button {
	min-inline-size: 138px;
	max-inline-size: 300px;
}
.button {
    border-radius: 6px;
    display: inline-block;
    font-size: 14px;
    font-weight: 900;
    min-block-size: 48px;
    padding-block-end: 16px;
    padding-block-start: 18px;
    padding-inline: 15px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
.button--grey-border {
    border: 1px solid rgba(255, 255, 255, 0.30);
}
.button--grey-border:hover {
	background-color: #B550F8;
	border-color: #28293E;
}

.header__body {
	display: flex;
	column-gap: 87px;
}
.header__text-block {
	/* display: inline-block;
    margin-block-end: 20px;
    margin-inline-end: 87px; */
    position: relative;
    z-index: 0;
}
.text-block {
	/* inline-size: 43.85%; */
    max-inline-size: 513px;
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}
.text-block__star {
	block-size: 146px;
    inset-block-start: 22px;
    inset-inline-start: 278px;
    position: absolute;
    inline-size: 148px;
    z-index: -1;
}
.text-block__label {
}
.label {
	color: #EF6D58;
    letter-spacing: 3px;
    line-height: 2;
    text-transform: uppercase;
}
.text-block__title {
}
.title {
	font-size: 72px;
	font-weight: 800;
	line-height: 1.11;
	letter-spacing: -2px;
	text-transform: capitalize;
}
.text-block__describe {
	color: rgba(255, 255, 255, 0.64);
	line-height: 2;
	margin-block-end: 10px;
}
.text-block__links {
    margin-block-end: 84px;
}
.text-block__button {
    margin-inline-end: 46px;
	min-inline-size: 154px;
}
.button {
}
.button--background-sunrise-orange {
    background: #EF6D58;
}
.button--background-sunrise-orange:hover {
    background: #ED5B44;
}
.text-block__link {
}
.link {
}
.link {
    line-height: 2;
    text-align: center;
    text-transform: capitalize;
}
.link:hover {
    text-decoration: underline;
}
.text-block__quote {
}
.quote {
	display: flex;
	column-gap: 16px;
	align-items: start;
}
.quote__avatar {
}
.avatar {
	background-color: #B550F6;
	border-radius: 50%;
	inline-size: 48px;
	block-size: 48px;
	display: flex;
	justify-content: center;
	align-items: end;
	overflow: hidden;
	flex: 0 0 48px;
}
.avatar__img {
	inline-size: 38px;
	aspect-ratio: 38 / 43;
}
.quote__block {

}
.quote__text {
	color: rgba(255, 255, 255, 0.64);
	line-height: 2;
}
.quote__author {
	line-height: 2;
}

/** IMG BLOCK */
.header__img-block {
}
.img-block {
	position: relative;
	z-index: 1;
	width: 100%;
}
.img-block::after {
	content: '';
	border-radius: 50%;
	background: #32334C;
	width: 370px;
	height: 370px;
	/* flex-shrink: 0; */
	position: absolute;
	inset: 100px;
	z-index: -1;
}
.img-block__laptop {
	position: absolute;
	inset: 24px 21px;
	z-index: 0;
}
.img-block__laptop::after {
	content: '';
	block-size: 305px;
    border-radius: 123px 123px 6px 6px;
    inline-size: 246px;
    background-color: #B550F8;
	position: absolute;
	inset: -24px -21px;
	z-index: -1;
}
/* .archway {
    block-size: 305px;
    border-radius: 123px 123px 6px 6px;
    inline-size: 246px;
} 
.archway--purple {
    background-color: #B550F8;
} */
/* .archway {
}
.archway--purple {
} */
.img-block__stars {
	width: 112px;
	height: 112px;
	/* flex-shrink: 0; */
	background-color: #EF6D58;
	border-radius: 50%;
    position: absolute;
    padding-block-start: 28px;
    inset-block-start: 40px;
    inset-inline-start: 304px;
	text-align: center;
}
/* .img-block__stars::after {
	content: '';
	fill: #EF6D58;
} */
.block-img__stars img {
    block-size: 56px;
    inline-size: 42px;
}
.img-block__cloud {
	inset-block-start: 80px;
    inset-inline-end: 0;
    position: absolute;
}
.img-block__girl {
}
.archway--golden {
}
.img-block__arrow {
}
.img-block__card {
}
.img-block__wavy-arrow {
}



.footer {
    background-color: #fdf0e9;
    color: #391400;
    font-weight: 700;
    text-align: center;
	padding-block: 15px;
}
