@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,700,800);

/* Local fonts */
@import url('fonts.css');

/* Reset */
@import url('reset.css');

body {
    font-family: "Epilogue", sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.header {
    background: #28293E url("../img/icons/star.svg") 413px 42px no-repeat;
    color: #FFF;
}
.header__container {
    margin: 0 auto;
    max-inline-size: 1170px;
    padding-block: 16px 64px;
}
.header__menu {
    margin-block-end: 124px;
    position: relative;
    text-align: center;
}
.menu {
    vertical-align: bottom;
}
.menu__logo {
    left: 0;
    position: absolute;
}
.logo {
    display: inline-block;
}
.logo__img {
    height: 48px;
    margin-inline-end: 14px;
    width: 48px;
}
.logo__name {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    padding-block-start: 9px;
    text-transform: capitalize;
    vertical-align: middle;
}
.menu__list {
    display: inline-block;
    padding-block-start: 12px;
    position: relative;
}
.menu__item {
    display: inline-block;
}
.menu__item:not(:last-child) {
    margin-inline-end: 50px;
}
.menu__link {
}
.link {
    line-height: 2;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
}
.link:hover {
    text-decoration: underline;
}
.menu__button {
    position: absolute;
    right: 0;
}
.button {
    border-radius: 6px;
    display: inline-block;
    font-size: 14px;
    font-weight: 900;
    min-block-size: 48px;
    min-inline-size: 138px;
    min-inline-size: 154px;
    padding-block-end: 16px;
    padding-block-start: 18px;
    padding-inline: 16px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
.button--grey-border {
    border: 1px solid rgba(255, 255, 255, 0.30);
}
.button--grey-border:hover {
    border-color: #FFF;
}
.menu__sub {
}
.sub-menu {
}
.sub-menu__item {
}
.sub-menu__item:not(:last-child) {
    margin-bottom: 10px;
}
.sub-menu__link {
}
.header__block {
}
.block-header {
    max-inline-size: 513px;
}
.block-header__label {
    color: #EF6D58;
    letter-spacing: 3px;
    line-height: 2;
    margin-block-end: 24px;
    text-transform: uppercase;
}
.block-header__title {
    font-size: 72px;
    font-weight: 800;
    letter-spacing: -2px;
    line-height: 1.11;
    margin-block-end: 24px;
    text-transform: capitalize;
}
.block-header__text {
    color: rgba(255, 255, 255, 0.64);
    line-height: 2;
    margin-block-end: 34px;
    max-inline-size: 470px;
}
.block-header__links {
    margin-block-end: 108px;
}
.block-header__button {
    margin-block-end: 10px;
    margin-inline-end: 46px;
}

.button--background-sunrise-orange {
    background: #EF6D58;
}
.button--background-sunrise-orange:hover {
    background: #ED5B44;
}
.block-header__link {
	display: inline-block;
}
.block-header__quote {
	max-inline-size: 470px;
	font-size: 0;
}
.quote {
}
.quote__avatar {
	margin-inline-end: 16px;
	display: inline-block;
	margin-block-start: 4px;
	vertical-align: top;
}
.avatar {
	border-radius: 50%;
	overflow: hidden;
	width: 48px;
	height: 48px;
}
.avatar__img {
}
.quote__text-block {
	display: inline-block;
	max-inline-size: 406px;
}
.quote__text {
	color: rgba(255, 255, 255, 0.64);
	line-height: 2;
	font-size: 16px;
	margin-block-end: -4px;
}
.quote__author {
	line-height: 2;
	font-size: 16px;
	margin-inline-start: 6px;
}
.page {
}
.page__container {
}
.page__ {
}

/** FOOTER **/
/* [id]:not(:last-child) {
    display: none;
} */
.footer {
    background-color: #fdf0e9;
    color: #391400;
    font-weight: 700;
    padding-block: 20px;
    text-align: center;
}
.footer__container {
    margin-inline: auto;
    max-inline-size: 1200px;
    padding-inline: 15px;
}
