@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,700,800);

/* Local fonts */
@import url('fonts.css');

/* Reset */
@import url('reset.css');

body {
    font-family: "Epilogue", sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.header, .page {
    background-color: #28293E;
    color: #FFF;
}
.header__container {
    margin: 0 auto;
    max-inline-size: 1170px;
    padding-block: 16px 64px;
}
.header__menu {
    margin-block-end: 124px;
    position: relative;
    text-align: center;
}
.menu {
    vertical-align: bottom;
}
.menu__logo {
    left: 0;
    position: absolute;
}
.logo {
    display: inline-block;
}
.logo__img {
    height: 48px;
    margin-inline-end: 14px;
    width: 48px;
}
.logo__name {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    padding-block-start: 9px;
    text-transform: capitalize;
    vertical-align: middle;
}
.menu__list {
    display: inline-block;
    padding-block-start: 12px;
    position: relative;
}
.menu__item {
    display: inline-block;
    position: relative;
}
.menu__item:not(:last-child) {
    margin-inline-end: 50px;
}
.menu__item:hover .menu__sub {
	visibility: visible;
	opacity: 1;
}
.menu__link {
}
.link {
    line-height: 2;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
}
.link:hover {
    text-decoration: underline;
}
.menu__button {
    max-inline-size: 300px;
    min-inline-size: 138px;
    position: absolute;
    right: 0;
}
.button {
    border-radius: 6px;
    display: inline-block;
    font-size: 14px;
    font-weight: 900;
    min-block-size: 48px;
    padding-block-end: 16px;
    padding-block-start: 18px;
    padding-inline: 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
.button--grey-border {
    border: 1px solid rgba(255, 255, 255, 0.30);
}
.button--grey-border:hover {
	background-color: #B550F8;
	border-color: #28293E;
}
.menu__sub {
	position: absolute;
	inset-inline-start: 0;
	inset-block-start: 100%;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
}
.sub-menu {
	text-align: left;
}
.sub-menu__item {
}
.sub-menu__item:not(:last-child) {
    margin-bottom: 10px;
}
.sub-menu__link {
}

.header__main {
    font-size: 0;
}

/** HEADER BLOCK */
.header__block {
    display: inline-block;
    margin-block-end: 20px;
    margin-inline-end: 87px;
    position: relative;
    z-index: 0;
}
.block-header {
    font-size: 16px;
    max-inline-size: 513px;
}
.block-header__star {
    block-size: 146px;
    inset-block-start: 22px;
    inset-inline-start: 278px;
    position: absolute;
    inline-size: 148px;
    z-index: -1;
}
.block-header__label {
    margin-block-end: 24px;
}
.label {
    color: #EF6D58;
    letter-spacing: 3px;
    line-height: 2;
    text-transform: uppercase;
}
.block-header__title {
    font-size: 72px;
    font-weight: 800;
    letter-spacing: -2px;
    line-height: 1.11;
    margin-block-end: 24px;
    text-transform: capitalize;
}
.block-header__text {
    color: rgba(255, 255, 255, 0.64);
    line-height: 2;
    margin-block-end: 34px;
    max-inline-size: 470px;
}
.block-header__links {
    margin-block-end: 108px;
}
.block-header__button {
    margin-block-end: 10px;
    margin-inline-end: 46px;
    min-inline-size: 154px;
}

.button--background-sunrise-orange {
    background: #EF6D58;
}
.button--background-sunrise-orange:hover {
    background: #ED5B44;
}
.block-header__link {
    display: inline-block;
}
.block-header__quote {
    font-size: 0;
    max-inline-size: 470px;
}
.quote {
}
.quote__avatar {
    display: inline-block;
    margin-block-start: 4px;
    margin-inline-end: 16px;
    vertical-align: top;
}
.avatar {
    border-radius: 50%;
    block-size: 48px;
    overflow: hidden;
    inline-size: 48px;
}
.avatar__img {
}
.quote__text-block {
    display: inline-block;
    max-inline-size: 406px;
}
.quote__text {
    color: rgba(255, 255, 255, 0.64);
    font-size: 16px;
    line-height: 2;
    margin-block-end: -4px;
}
.quote__author {
    font-size: 16px;
    line-height: 2;
    margin-inline-start: 6px;
}

/** IMG BLOCK */
.header__img-block {
    display: inline-block;
    z-index: 0;
}
.block-img {
    height: 100%;
    max-inline-size: 570px;
    min-block-size: 602px;
    position: relative;
    vertical-align: top;
    width: 100%;
}
.block-img__dark-circle {
    inset: 100px;
    position: absolute;
    z-index: -1;
}
.circle-dark {
    background: #32334C;
    border-radius: 50%;
    height: 370px;
    width: 370px;
}
.archway {
    block-size: 305px;
    border-radius: 123px 123px 6px 6px;
    inline-size: 246px;
} 
.archway--purple {
    background-color: #B550F8;
}
.block-img__laptop {
    inset-block-start: 0;
    inset-inline-start: 0;
    position: relative;
}
.block-img__laptop img {
    block-size: 265px;
    inline-size: 255px;
    inset-block-start: 24px;
    inset-inline-start: 21px;
    position: absolute;
}

.block-img__stars {
    background-color: #ED5B44;
    border-radius: 50%;
    height: 112px;
    inset-block-start: 40px;
    inset-inline-start: 304px;
    padding-block-start: 28px;
    position: absolute;
    text-align: center;
    width: 112px;
}
.block-img__stars img {
    block-size: 56px;
    inline-size: 42px;
}
.block-img__cloud {
    inset-block-start: 80px;
    inset-inline-end: 0;
    position: absolute;
}
.block-img__girl {
    inset-block-start: 225px;
    inset-inline-end: 0;
    overflow: hidden;
    position: absolute;
}
.block-img__girl img {
    block-size: 269px;
    inline-size: 246px;
    inset-block-end: 0;
    inset-inline-start: 0;
    position: absolute;
}
.archway--golden{
    background-color: #F7CC47;
}

.block-img__arrow {
    inset-block-start: 554px;
    inset-inline-end: 162px;
    position: absolute;
}
.block-img__card {
    inset-block-start: 431px;
    inset-inline-start: 56px;
    position: absolute;
}
.block-img__wavy-arrow {
    inset-block-start: 339px;
    inset-inline-start: 0;
    position: absolute;
}

/** LATEST WORK */
.page__container {
    margin: 0 auto;
    max-inline-size: 1440px;
    padding-block: 108px 80px;
}
.latest-work__container {
    margin: 0 auto;
    max-inline-size: 1170px;
}
.latest-work__label {
    margin-block-end: 20px;
}
.latest-work__header {
    margin-block-end: 64px;
    position: relative;
}
.latest-work__title {
    display: inline-block;
    font-size: 56px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1.14;
    max-inline-size: 575px;
    text-transform: capitalize;
}
.latest-work__button {
    inset-inline-end: 0;
    max-inline-size: 575px;
    min-inline-size: 170px;
    position: absolute;
}

.latest-work__row {
}
.latest-work__items {
    font-size: 0;
    overflow: hidden;
    /* position: relative; */
}
.latest-work__item {
    border: 1px solid #3A3C56;
    display: inline-block;
    max-block-size: 608px;
    max-inline-size: 480px;
    padding: 16px;
    text-align: center;
}
.latest-work__content-item {
	block-size: 576px;
	inline-size: 448px;
    position: relative;
}
.latest-work__content-item::before {
    background: #5C2000;
    content: "";
    inset-block-start: 0px;
    inset-inline-start: 0px;
    opacity: 0.3181;
    position: absolute;
	block-size: 576px;
	inline-size: 448px;
}
.latest-work__content-item img {
    max-inline-size: 448px;
}
.latest-work__content-item:hover::before {
    opacity: 0.2;
}
.latest-work__overlay {
	inset-block-start: 416px;
	inset-inline-start: 48px;
    position: absolute;
	text-transform: capitalize;
	text-align: left;
}
.latest-work__content-label {
	display: inline-block;
	font-size: 16px;
	line-height: 2;
	margin-block-end: 24px;
	padding: 5px 16px 1px 16px;
	background-color: #FFF;
	border-radius: 19px;
	color: #391400;
}
.latest-work__content-label:hover {
	background-color: #5C2000;
	color: #FFF;
}
.latest-work__content-title {
	font-size: 40px;
	font-weight: 800;
	line-height: 1.2;
}
.latest-work__content-title--uppercase {
	text-transform: uppercase;
}
.latest-work__content-title:hover {
	text-decoration: underline;
	text-shadow: 0px 0px 3px #5C2000;
}

/** FOOTER **/
/* [id]:not(:last-child) {
    display: none;
} */
.footer {
    background-color: #fdf0e9;
    color: #391400;
    font-weight: 700;
    padding-block: 20px;
    text-align: center;
}
.footer__container {
    margin-inline: auto;
    max-inline-size: 1200px;
    padding-inline: 15px;
}
