@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,600);

/* Local fonts */
@import url('fonts.css');

/* Reset */
@import url('reset.css');

/* Keyframes */
@import url('keyframes.css');

body {
    font-family: "Work Sans", sans-serif;
}
textarea {
    resize: vertical;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="__container"] {
    margin: 0 auto;
    max-width: 1170px;
    padding-inline: 15px;
}

.header {
	background-color: #fdf0e9;
    color: #391400;
    font-weight: 700;
    padding-block: 15px;
    text-align: center;
}
.header__container {
}
.header__block {
}
.header__label {
}
.header__title {
}
.label {
    color: #EF6D58;
    letter-spacing: 3px;
    line-height: 2;
    text-transform: uppercase;
}
.title {
    color: #A53DFF;
    font-size: 56px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1.14;
    text-transform: capitalize;
}

.page__personal-portfolio {
}
.personal-portfolio {
    margin-block-start: 50px;
}
.personal-portfolio__container {
    max-width: 590px;
    padding-inline: 15px;
}
.personal-portfolio__text {
    color:  #87909D;
    font-size: 18px;
    line-height: 1.33;
    margin-block-end: 50px;
}
.personal-portfolio__form {
	margin-block-end: 50px;
}
.form {
    display: flex;
    flex-wrap: wrap;
	gap: 24px;
	flex-direction: column;
}
.form__line {
    position: relative;
    width: 100%;
}
.form__duble-line {
	display: flex;
	gap: 24px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.form__duble-line > .form__line:first-child {
	flex: 1 1 200px;
}
.form__duble-line > .form__line:last-child {
	flex: 1 1 336px;
}
.form__label {
    color: #697484;
    font-size: 18px;
    inset-block-start: -16px;
    inset-inline-start: 0;
    line-height: 1.33;
    position: absolute;
    text-align: center;
}
.form__input {
    border-bottom: 1.5px solid #E6E8EB;
    padding-block: 5px;
    transition: border-bottom .3s;
}
.form__input:focus-visible {
    border-bottom: 2px solid #A53DFF;
    outline: none;
}
.form__input:focus-visible + .form__label {
    color: #A53DFF;
}
.form__input:checked {
    border-bottom: 1.5px solid #A53DFF;
}
.form__line--button {
}
.form__button {
    margin-block-start: calc(50px - 24px);
	appearance: none;
}
.button {
    align-items: center;
    background: #A53DFF;
    border-radius: 4px;
    color: #FFF;
    display: flex;
    font-weight: 600;
    gap: 12px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 24px;
}
.button::after {
    background: url("../img/arrow.svg") 0 0 / cover no-repeat;
    block-size: 24px;
    content: "";
    inline-size: 24px;
    transition: all .3s;
}
.button:hover {
    background: #8719e8;
}
.button:hover::after,
.button:focus-visible::after {
    transform: translateX(10px);
}
.button:focus-visible {
	outline: 1px solid #6505bf;
}

/** Dark Form */
.page__dark-website {
    font-family: Manrope, sans-serif;
}
.dark-website {
    background: #141414;
    padding-block: 100px;
}
.page__container {
}
.dark-website__dark-form {
    margin-inline: auto;
}
.dark-form {
    background: #0F0F0F;
    border: 1px solid #262626;
    border-radius: 12px;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    max-width: 976px;
    padding: 50px;
}
.dark-form__item {
    min-inline-size: 413px;
}
.dark-form__item textarea {
	min-block-size: 163px;
}
.dark-form__item--long {
    min-inline-size: 100%;
}
.dark-form__input {
    background: #141414;
    border: 1px solid #262626;
    border-radius: 8px;
    font-size: 18px;
    line-height: 1.5;
    padding: 20px;
    transition: border .3s;
}
.dark-form__input::placeholder {
    color: #999;
    font-size: 18px;
    line-height: 1.5;
    text-transform: capitalize;
}
.dark-form__input:focus-visible {
	border-color: #FFF;
    outline: none;
}
.dark-form__label {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin-block-end: 16px;
    text-transform: capitalize;
}
.dark-form__line {
	display: flex;
	gap: 70px;
	justify-content: space-between;
	align-items: center;
	inline-size: 100%;
	flex-wrap: wrap;
}
.dark-form__checkbox {
}
.checkbox {
}
.checkbox__input {    
	appearance: none;
}
.checkbox__input:focus-visible + .checkbox__label {
	outline: 1px solid #fff;
}
.checkbox__input:checked + .checkbox__label::before {    
	border: 1px solid #FFF;
	background: url('../img/check.svg') 0 0 / cover no-repeat;
}
.checkbox__label {
	display: inline-flex;
	gap: 10px;
	cursor: pointer;
	color: #999;
	font-size: 18px;
	line-height: 1.5;
}
.checkbox__label::before {
	content: "";
	inline-size: 28px;
	block-size: 28px;
	border-radius: 4px;
	border: 1px solid #262626;
	background: #0F0F0F;
}
.dark-form__button {
	appearance: none;
}
.button--red {
    background: #E50000;
    border-radius: 8px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    overflow: hidden;
    padding: 18px 24px;
    text-transform: capitalize;
	transition: all .3s;
}
.button--red:hover {
    background: #C60303;
}
.button--red:focus-visible {
	outline: 1px solid #fff;
}

.footer {
    background-color: #fdf0e9;
    color: #391400;
    font-weight: 700;
    padding-block: 15px;
    text-align: center;
}