@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700);

@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* Local fonts */
@import url('fonts.css');

/* Reset */
@import url('reset.css');

body {
    font-family: Epilogue, sans-serif;
}
img {
	max-width: 100%;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.wrapper-background {
    min-height: 100%;
    overflow: hidden;

background:  url("../img/Yevhen.webp") right 5px / contain no-repeat fixed, 
    linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}

.header__title {
    color: #F4F18A;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.32;
    margin-block-end: 100px;
    padding-block-start: 5px;
    text-align: center;
    text-shadow: 2px 2px 5px #42315B;
}
.page {
    margin-inline-end: -50px;
    text-align: center;
}

.circle-bitmap {
    background-image: url("../img/Bitmap.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 3px solid #F4F18A;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    vertical-align: middle;
    width: 100px;
}

.circle {
    background-color: #7a956b;
    border-radius: 50%;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    margin-block-end: 50px;
    margin-inline-end: 50px;
    min-height: 300px;
    min-width: 300px;
    padding-block-start: calc(300px/2 - 18px);
    vertical-align: middle;
}

.freelancer-life-style {
    background: url("../img/logo.webp") center / 270px no-repeat;
    box-shadow: 0px 0px 0px 1px #0F0F0F;
}

.dark {
    background-color: #0F0F0F;
    color: #FFF;
}
.light {
    background-color: transparent;
    box-shadow: 0px 0px 0px 1px #0F0F0F;
    color: #0F0F0F;
}

.footer {
    font-weight: 700;
    padding-block: 20px;
    text-align: center;
}
.footer .container {
	margin-inline: auto;
    max-inline-size: 1200px;
    padding-inline: 15px;
}

/* Light Template */
.section-features {
    background-color: #FDF0E9;
}
.section-features .container {
    margin-inline: auto;
    max-inline-size: 1200px;
    padding-inline: 15px;

    /* 1170 + 2*15px = 1200px */
}

.section-features .portfolio {
    font-size: 0;
	padding-block: 50px;
    /* 470(text) + 171(margin) + 529(img) = 1170px */
}	

.section-features .portfolio-text {
    display: inline-block;
    margin-inline-end: 171px;
	vertical-align: middle;

}

.section-features .portfolio h5 {
    color: #EF6D58;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 2;
    margin-block-end: 20px;
    text-transform: uppercase;
}

.section-features .portfolio .header {
    color: #391400;
    font-size: 56px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1.14;
    margin-block-end: 26px;
    max-inline-size: 397px;
}

.section-features .portfolio p {
    color: #391400;
    font-size: 20px;
    line-height: 1.6;
    margin-block-end: 24px;
    max-width: 470px;
}

.section-features .portfolio .list {
}

.section-features .portfolio .list__item {
    background: url("../img/check.svg") left top / 32px no-repeat;
    color:  rgba(57, 20, 0, 0.64);
    font-size: 16px;
    line-height: 2;
    margin-block-end: 16px;
    padding-block-start: 2px;
    padding-inline-start: 48px;
    vertical-align: middle;
}

.section-features .portfolio-img {
    display: inline-block;
    max-inline-size: 529px;
    vertical-align: middle;
}